@import "tailwindcss";

/* Override dark variant to use "dark" class in the html element as selector */
@custom-variant dark (&:where(.dark, .dark *));

@font-face {
	font-family: "LeagueSpartan";
	font-style: normal;
	font-display: swap;
	font-weight: 400;
	src: url(/fonts/LeagueSpartan/LeagueSpartan-Regular.ttf) format("truetype");
}

@font-face {
	font-family: "LeagueSpartan";
	font-style: normal;
	font-display: swap;
	font-weight: 700;
	src: url(/fonts/LeagueSpartan/LeagueSpartan-Bold.ttf) format("truetype");
}

:root {
	--app-bg: #f8fafc; 
	--dock-bg: rgba(255, 255, 255, 0.75);
	--dock-border: rgba(226, 232, 240, 0.8);
	--text-main: #0f172a;
	--text-muted: #64748b;
	--dock-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.04), 
					0 8px 10px -6px rgba(0, 0, 0, 0.04);

	--app-bg-dark: #09090b; 
	--dock-bg-dark: rgba(24, 24, 27, 0.6); 
	--dock-border-dark: rgba(255, 255, 255, 0.1);
	--text-main-dark: #fafafa;
	--text-muted-dark: #a1a1aa;
	--dock-shadow-dark: 0 20px 25px -5px rgba(0, 0, 0, 0.5), 
						0 8px 10px -6px rgba(0, 0, 0, 0.8);
}
